#comentarios {
  display: flex;
  justify-content: center;
  padding: 0;
}

.giscus {
  width: 90%;
  max-width: 900px;
}
#comentarios {
  margin-bottom: 0;
  padding-bottom: 0;
}

iframe {
  display: block;
}