/* ===========================
   LOGIN
=========================== */

.login-section{

    min-height:calc(100vh - 180px);

    display:flex;

    justify-content:center;

    align-items:center;

    padding:80px 20px;

}

.login-box{

    width:100%;
    max-width:460px;

    background:#181818;

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:45px;

    box-shadow:0 20px 60px rgba(0,0,0,.35);

}

.login-box h1{

    font-size:36px;

    margin-bottom:10px;

}

.login-box p{

    color:#9ca3af;

    margin-bottom:35px;

    line-height:1.6;

}

.form-group{

    display:flex;

    flex-direction:column;

    margin-bottom:22px;

}

.form-group label{

    margin-bottom:8px;

    font-weight:normal;

}

.form-group input{

    height:52px;

    padding:0 16px;

    background:#101010;

    color:#ffffff;

    border:1px solid rgba(255,255,255,.08);

    border-radius:10px;

    transition:.3s;

}

.form-group input:focus{

    outline:none;

    border-color:var(--cor-principal);

    box-shadow:0 0 0 3px rgba(126,34,206,.20);

}

.login-box .btn-primary{

    width:100%;

    margin-top:10px;

}

.register-link{

    margin-top:25px;

    text-align:center;

}

.register-link a{

    color:var(--cor-principal);

    text-decoration:none;

    font-weight:normal;

}

.register-link a:hover{

    color:#ffffff;

}