/* ==========================================
   RESPONSIVO
   Fundação Comics
========================================== */

@media (max-width: 768px){

.header{
    padding: 0 15px;
}

.busca input{
    width: 160px;
}

}
/* =========================
   MENU MOBILE - ETAPA 1
========================= */

.menu-toggle{
    display:none;
}

@media (max-width:768px){

    .menu-toggle{
        display:block;
        background:none;
        border:none;
        color:#fff;
        font-size:32px;
        cursor:pointer;
    }

}