<div class="confirm-box">

    <div class="confirm-icon">
        <i class="fa-solid fa-trash"></i>
    </div>


    <h2>
        Excluir HQ
    </h2>


    <p>
        Tem certeza que deseja excluir esta HQ?
    </p>

    <div class="confirm-opcao">

        <label>
            <input type="checkbox" id="confirmarExclusaoCheck">

            Confirmo que quero excluir esta HQ
        </label>

    </div>


    <div class="confirm-actions">


        <button 
            id="cancelarExclusao"
            class="confirm-cancelar">

            Cancelar

        </button>


        <button 
            id="confirmarExclusao"
            class="confirmar-exclusao"
            disabled>

            Excluir

        </button>


    </div>


</div>