<footer class="footer">

    <div class="container">

        <div class="footer-grid">


            <!-- SOBRE -->

            <div class="footer-column">

                <h3>Fundação Comics</h3>

                <p>
                    Um acervo dedicado às histórias em quadrinhos,
                    reunindo revistas, coleções e informações em um
                    ambiente moderno e organizado.
                </p>

            </div>



            <!-- REDES -->

            <div class="footer-column">

                <h4>Redes Sociais</h4>

                <ul>

                    <li>
                        <a href="#">
                            Facebook
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            Instagram
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            YouTube
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            Discord
                        </a>
                    </li>

                </ul>

            </div>



            <!-- APOIE -->

            <div class="footer-column footer-donation">

                <h4>
                    Apoie a Fundação Comics
                </h4>


                <p>
                    Ajude a manter o projeto no ar e contribua
                    para a compra do nosso domínio .com.br.
                </p>


                <a href="#" class="donation-link">

                    <img 
                        src="img/qrcode-doacao.png"
                        alt="QR Code para doação">

                </a>

            </div>


        </div>



        <div class="footer-bottom">

            <p>
                © 2026 Fundação Comics. Todos os direitos reservados.
            </p>

        </div>


    </div>


</footer>