<header class="header">

    <div class="container">

        <!-- LOGO -->

        <a href="/index.html" class="logo">

            <img src="https://static.wixstatic.com/media/535ced_9c08c204a61a4b30ba824595c3c8eab3~mv2.png" alt="Fundação Comics">

        </a>

        <!-- MENU -->

        <nav class="menu">

            <ul>

                <li><a href="/index.html" id="link-home">Início</a></li>

                <li><a href="/pages/colecoes.html" id="link-colecoes">Coleções</a></li>

                <li><a href="/pages/editoras.html" id="link-editoras">Editoras</a></li>

                <li><a href="/pages/contato.html" id="link-contato">Contato</a></li>

            </ul>

        </nav>

        <!-- LADO DIREITO -->

        <div class="header-right">

        <!-- MENU MOBILE -->

        <button class="mobile-menu-button" id="mobileMenuButton">

            ☰

        </button>

        <!-- Pesquisa -->

        <form class="search-box" id="formBusca">

            <input
                id="campoBusca"
                type="search"
                placeholder="Pesquisar HQs...">

            <button type="submit">

                🔍

            </button>

        </form>

         <!-- Visitante -->

        <div class="guest-menu">

            <button class="btn-login" id="openLogin">
                Entrar
            </button>

            <button class="btn-register" id="openRegister">
                Cadastrar
            </button>

        </div>

    <!-- Usuário Logado -->

    <div class="user-menu" style="display:none;">



<div class="profile-area">


    <button class="profile-button" id="profileButton">

        <img src="/img/avatar.jpg" alt="Avatar">

        <span>Marcelo</span>

    </button>



        <div class="profile-dropdown" id="profileDropdown">


            <a href="/pages/perfil.html" data-page="perfil">
                👤 Meu Perfil
            </a>


            <a href="/pages/favoritos.html">
                ⭐ Favoritos
            </a>


            <a href="/pages/biblioteca.html">
                📚 Minha Biblioteca
            </a>


            <button id="logoutButton">
                🚪 Sair
            </button>


        </div>


    </div>

    </div>

</div>

    </div>

</header>

<!-- MENU MOBILE -->

<div class="mobile-menu" id="mobileMenu">


    <form class="mobile-search" id="mobileSearch">

        <input
            id="mobileCampoBusca"
            type="search"
            placeholder="Pesquisar HQs...">

        <button type="submit">
            🔍
        </button>

    </form>

    <div class="mobile-auth">


        <button id="mobileLogin">

            Entrar

        </button>


        <button id="mobileRegister">

            Cadastrar

        </button>


    </div>


    <a href="/index.html">
        Início
    </a>


    <a href="/pages/colecoes.html">
        Coleções
    </a>


    <a href="/pages/editoras.html">
        Editoras
    </a>


    <a href="/pages/contato.html">
        Contato
    </a>


</div>